<center><h1>CPU Usage</h1></center>
<%= form_tag cpu_usage_path, :id => 'filter_form', :method => :get do %>
    <table style="width: 1200px; margin-bottom: 10px;">
      <tr>
        <td>Start Time:
          <%= datetime_select :filter, :start_date, use_month_numbers: true, default: @pfilter[:start_time] %>
        </td>
        <td>End Time:
          <%= datetime_select :filter, :end_date, use_month_numbers: true, :default => @pfilter[:end_time] %>
        </td>
      </tr>


      <tr>
        <td>
          <% 
            data_to_print = 'Created at,Server IP,CPU Usage'
            @cpus.each do |data| 
              data_to_print += ";#{data.created_at.to_s},#{data.server_ip},#{data.cpu_usage}"
            end
          %>
          <%= hidden_field_tag :data_to_print, data_to_print %>  
          <%= submit_tag 'Filter' %>
          <%= submit_tag 'Find Max Usage'%>
          <%= submit_tag 'Find Min Usage'%>
          <%= submit_tag 'Export As PDF'%>
        </td>
      </tr>
    </table>
<% end %>

<table border="1" style="width: 1200px">
  <tr>
    <th>Date</th>
    <th>Server IP</th>
    <th>CPU Usage</th>
  </tr>
<% for cpu in @cpus %>
  <tr>
    <td>
      <%= cpu.created_at %>
    </td>
    <td>
      <%= cpu.server_ip %>
    </td>
    <td>
      <%= cpu.cpu_usage %>
    </td>
  </tr>
<% end %>
  <tr>
	<td class="lastTd" colspan="12">
   	<div <%= will_paginate(@cpus) %></div>
	</td>
  </tr>
</table>
