<ul class="nav">
  <li><%= link_to 'CPU Usage', 'cpu_usage' %></li>
  <li><%= link_to 'Disk Usage', 'disk_usage' %></li>
  <li><%= link_to 'Total Running Process', 'running_process' %></li>
  <li><%= link_to 'Configure Alert', 'configure_alert' %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
